{% extends 'conference/base.html' %}
{% load static %}

{% block title %}Домашняя страница{% endblock %}

{% block head %}
<link type="text/css" href="{% static 'conference/css/item.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'conference/css/sidebar.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="main authors-info">
    <div class="container">

        <div class="main-content">

            <div class="sidebar">
                <h2>Навигация</h2>
                <div class="line"></div>
                {% for m in menu %}
                {% if not forloop.last %}
                <a class="btn" href="{% url m.url_name %}">{{m.title}}</a>
                {% else %}
                <a class="btn" href="{% url m.url_name %}">{{m.title}}</a>
                {% endif %}
                {% endfor %}
            </div>

            <div class="right-block">

                <div class="right-block">
                    <div class="author">

                        <div class="author-content">
                            <header class="author-header">
                                <img src="{{author.image.url}}" alt="">
                                <div class="line"></div>


                                <div class="text">
                                    <h3>{{author.first_name}} {{author.middle_name}} {{author.last_name}}</h3>
                                    <ul>
                                        <li>Дата рождения: <span>{{author.date_of_birth}}</span></li>
                                        <li>Страна: <span>{{author.country}}</span></li>
                                        <li>Город: <span>{{author.city}}</span></li>
                                        <li>Место работы (учебы): <span>{{author.affiliation}}</span></li>
                                    </ul>
                                </div>
                            </header>
                            <div class="author-content__text">
                                <h4>Подробная информация об авторе</h4>
                                <p>
                                    {{author.biography}}
                                </p>
                            </div>
                            <a href="/authors">
                                <button class="btn">На главную</button>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}